#{{ ansible_managed }}
server {
    listen       80;
{% if enable_ssl is defined and enable_ssl == True %}
    listen 443 ssl;
    ssl_certificate ssl/{{ site_name }}.crt;
    ssl_certificate_key ssl/{{ site_name}}.key;
{% endif %}

    server_name {{ site_name }} ;

    access_log  /var/log/nginx/{{ site_name }}.access.log  main;
    error_log  /var/log/nginx/{{ site_name }}.error.log;

    root   {{ site_root }};
    index index.php index.html index.htm;

    location / {
       try_files $uri $uri/ /index.php;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location ~ \.php$ {
                try_files $uri =404;
                fastcgi_pass unix:/var/run/php5-fpm.sock;
                fastcgi_index index.php;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
                include fastcgi_params;
        }
}
